:root {
  --primary-color-light: #92b1ee;
  --secondary-color-light: #130707;
  --primary-color-dark: #5f4747;
  --secondary-color-light: #edf2fc;
  --border-color-dark: #3d5d7c;
}

/* For maintance purpose Only */
.blink {
  text-align: center;
}
.sp1 {
  font-size: 25px;
  font-family: cursive;
  color: red;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* For maintance purpose Only */
body {
  height: 300px;
  width: 400px;
  margin: 8px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

#btn {
  width: 35px;
  border: none;
  padding: 1px;
  border-radius: 5px;
  background-color: #5498e7;
}
#contest {
  background-color: var(--primary-color);
  color: #5498e7;
  border: none;
}

#contest-Calender {
  font-size: 0.8rem;
}

#span,
.label {
  font-size: 20px;
  font-family: "Akaya Telivigala", cursive;
  color: #5498e7;
}

a {
  text-decoration: none;
}

a:hover {
  color: #916464;
}

hr {
  color: #212ee9;
}

footer {
  margin: 20px 0px 0px;
  padding: 10px;
  font-size: 10px;
  font-family: "Akaya Telivigala", cursive;
  font-weight: 500;
}

/*theme switch*/
.DarkMode {
  background-color: #1b1b1b;
  color: rgb(244, 238, 238);
}

/* Contest logo*/
.contest-img {
  width: 160px;
  height: 45px;
  margin-bottom: 15px;
}

.card {
  background-color: inherit;
  border-color: var(--border-color-dark);
}
